@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap);
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 0.9rem;
  line-height: 1.6;
}

#page {
  min-height: 100vh;
  display: flex;
}

.main-wrapper {
  width: calc(100% - 240px);
  margin-left: 240px;
}
.content {
  margin-bottom: 40px;
  padding: 0 20px;
}

.header-wrapper {
  padding: 0 35px;
}
.app-header {
  border-top: 3px solid #729be9;
  display: flex;
  justify-content: flex-end;
}
.app-header .top-nav {
  background-color: #729be9;
  padding: 5px 10px;
  color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.top-right-nav {
  text-align: right;
  display: flex;
  justify-content: right;
}
.top-right-nav.show .dropdown-toggle {
  background-color: #e8edff;
}
.top-right-nav .dropdown-toggle {
  border: 1px solid transparent;
  background-color: transparent;
  display: flex;
  padding: 7px 15px;
  border-radius: 5px;
  color: #fff;
}
.top-right-nav .dropdown-toggle:after {
  margin-top: 10px;
  margin-left: 10px;
}
.top-right-nav .dropdown-toggle:hover {
  border: 1px solid #fff;
}
.top-right-nav .dropdown-toggle .icon {
  margin: 0 10px 0 0;
}
.top-right-nav .dropdown-toggle .name {
  font-weight: 700;
}

.sidebar {
  position: fixed;
  width: 240px;
  background-color: #cadbf7;
  height: 100%;
}

.page-title {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: 900;
}
.subtitle {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 700;
}

.app-title-box {
  background-color: #729be9;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
.app-title-box .app-title {
  font-weight: 900;
  margin: 0;
  padding: 0;
  font-size: 32px;
  color: #fff;
}

.login-wrapper {
  width: 400px;
  margin: 0 0 0 30px;
}

.main-menu {
  margin: 40px 0 0 0;
  padding: 0 25px;
}
.main-menu ul {
  list-style: none;
  padding: 0;
}
.main-menu ul li a {
  color: #222;
  font-weight: 500;
  display: block;
  padding: 3px 0 3px 20px;
  position: relative;
  transition: all 0.3s ease;
}
.main-menu ul li a:before {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 900;
  left: 0;
  top: 0;
  opacity: .6;
  content: "\f054";
  transition: all 0.3s ease;
}
.main-menu ul li a:hover {
  text-decoration: none;
  padding: 3px 0 3px 25px;
  opacity: .7;
}
.main-menu ul li a:hover:before {
  left: 5px;
}

.status-box {
  background-color: #cadbf7;
  border-radius: 5px;
  overflow: hidden;
}
.status-box .stat-param {
  padding: 25px 20px 25px 20px;
}
.status-box .stat-param .forms {
  display: flex;
  align-items: center;
}
.status-box .stat-param .forms .form-control {
  font-size: 14px;
}
.status-box .stat-param .forms .separator {
  padding: 0 5px;
}

.notes-box,
.authorization-box {
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;  
}
.notes-box .note-item .position {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.authorization-box {
  display: flex;
  justify-content: space-around;
}
.authorization-box .auth-item {
  border: 1px solid #eee;
  min-width: 250px;
  text-align: center;
}
.authorization-box .auth-item .position {
  font-weight: 700;
}
.authorization-box .auth-item .date {
  font-size: 80%;
  color: #999;
}
.authorization-box .auth-item .signature {
  height: 100px;
}
.authorization-box .auth-item .name {
  font-weight: 500;
}

.boxed-el {
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 10px;
}